mixin info-work(data)
    .info-work
        .info-work-container.container
            .info-work__item
                .info-work__pic.comp
                span.info-work__num 120
                span.info-work__text hands to work
            .info-work__item
                .info-work__pic.smile
                span.info-work__num 310
                span.info-work__text happy client
            .info-work__item
                .info-work__pic.second-list
                span.info-work__num 510
                span.info-work__text finished project
            .info-work__item
                .info-work__pic.coffe
                span.info-work__num 720
                span.info-work__text cups of coffe
