// File for scss-vars.
// For example: main colors, paddings and so on.

$Asap: 'Asap', sans-serif;
$Lato: 'Lato', sans-serif;

$button-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);

$main-dark: #4d4d4d;
$main-white: #ffffff;
$section-bg: #f6f6f6;
