.hamburger {
  position: fixed;
  right: 63px;
  top: 24px;
  z-index: 999;
  background-color: #fff;
}

.is-active {
  background-color: transparent;
}

.hamburger_theme-white {
  &::before {
    background-color: $main-white;
  }
  &::after {
    background-color: $main-white;
  }
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}
