include ../caption/caption.pug

mixin say-hello(data)
    .say-hello
        .say-hello-container.container
            +caption('sAY HELLO!', 'caption_theme-white')
            .form
                form(action='#')
                    .form__inputs
                        input(type='text' placeholder='Name').form__name
                        input(type='email' placeholder='Email').form__email
                    textarea(placeholder="Message").form__textarea
                    button(type="submit").link-button.link-button_theme-white
                        span.link-button_text send
            footer.footer
                .footer-container
                    .footer-icons
                        a(href="#").footer-icons__link.fb
                            i.fab.fa-facebook-f
                        a(href="#").footer-icons__link.tt
                            i.fab.fa-twitter
                        a(href="#").footer-icons__link.ld
                            i.fab.fa-linkedin-in
                        a(href="#").footer-icons__link.gp
                            i.fab.fa-google-plus-g
                        a(href="#").footer-icons__link.beh
                            i.fab.fa-behance
                        a(href="#").footer-icons__link.drib
                            i.fab.fa-dribbble
                    .footer__copyright
                        span 2018. All Right Reserved
