mixin section-about(data)
    section.about-section
        .about-container.container
            .about-text
                .about-text__caption
                    .about-text__h2 KNOW MORE ABOUT ME

                .about-text__p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

                .about-text__button
                     a(href="#").link-button.link-button_theme-transparent.link-button_broad
                        span.link-button_text DOWNLOAD MY CV

            .about-pic
                img(src="__static__img/assets/section-about/about.png")
